body{
    background: url(gallery/music-note-01.png),linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background-position: inherit;
    background-repeat: no-repeat,repeat;
    background-size: cover,cover;  
}

#click-to-play{
    width: 200px;
    outline-style: none;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: 500;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#dev-head{
    text-align: center;
    color: black;
    font-size: 40px;
    line-height: 35px;
    font-family: 'Oswald', sans-serif;
}

#copyright{
    
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
#brand{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-right: 150px;
    color: #0f0c29;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card{
     color: white;
     font-family: 'Oswald', sans-serif;
}

