body{
    background: #334d50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#brand{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-right: 150px;
    color: #0f0c29;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.lobby{
    margin-top: 15px;
}
.squares{
    border: black 1px solid;
    width: 30%;
    padding-bottom: 50px;
    float: left;
}

